# Ignore all files by default
*

# Allow exceptions for specified files
!.gitignore
!creators.json
!twitch_manager_locales.js
!twitch_manager_main.js
!twitch_manager.css
!TwitchManagerDock.html
!HowTo_note.txt
